<li id="training-<%= training.id %>">
  <span class="training_date">Date: <%= training.training_date %></span>
  <span class="location">Location: <%= training.location %></span><a><span class= "glyphicon glyphicon-chevron-right"></span></a>
  <span class="trainer">Trainer: <%= training.trainer %></span>
</li>