<div class="center jumbotron">
  <%= image_tag("Cross-Pattee-Heraldry.svg.png") %>
<h1 id="home_name">Squaw Valley Ski Patrol</h1>
<p>Training</p>
<%= link_to "Sign In", '#', class: "btn btn-lg btn-primary" %>
</div>