<div class="fields">
    <%= f.label :training_codes %>
    <%= f.select(:training_code_id, class: "shown_code_field") do %>

    <% @codes.each do |c| %>
    <%= content_tag(:option, c.training_name, value: c.id, class: "shown_code_field") %>
    <% end %>
    <% end %>

    <%= submit_tag "Add Codes", :type =>  "button", :id => "addAddress", :onclick => 'addCodesField()'%>
</div>
