@import "bootstrap-sprockets";
@import "bootstrap";
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);*/
$light-gray: #777;
@import url(https://fonts.googleapis.com/css?family=Raleway:500);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#home_name {
  color: red;
}
img {
  height: 15em;
  width: 15em;
}
/* typography */
* {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.patrollers {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
    padding: 0;
    border: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
 a {
  color: #555;
    &:hover {
    color: #222;
    }
  }
  small {
  float: left;
}

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

  @include box_sizing;
}

.profile {
  padding-bottom: 1em;
}
.td_type {
  border-bottom: 1px solid black;
}

.edit_user {

  padding-left: 2em;
  padding-right: 2em;
}

input {
  height: auto !important;

}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#submit_training{

}
#training_location, #training_trainer, #training_training_date , #training_training_time, #training_comments {
    @include box_sizing;
    outline: none;
    display: block;
    width: 100%;

    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    }
  .field {

    label{
    /*font-family:'Open Sans Condensed', sans-serif;*/
    }
  }

/* trainings */

.trainings {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .location {
    display: inline-block;
    margin-left: 60px;
  }
  #arrow {
  float: right;
  }
  .trainer {
  display: block;
  margin-left: 60px;
  }
  .training_date {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

#training_division_blocks {
  li {
  display: table-cell;
  vertical-align: middle;
  width:44%;
  float: left;
  height: 8em;
  border: 1px solid #e8e8e8;
  margin:0px;
  text-align: center;
  color: black;
  font-family:'Open Sans Condensed', sans-serif;
  }
  p{
  margin-top: 2em;
  }
  .img_links {
   max-height: 100%;
   max-width: 100%;
    position:relative;
    background: url("squaw.jpg")no-repeat;
    background-size: cover;
    background-position: center;




  }
}



